fastapi
uvicorn[standard]
torch
transformers
lime
scikit-learn
python-multipart
accelerate
numpy
hf_xet
torchvision
opencv-python
pillow 
matplotlib
seaborn
aiofiles
aiohttp
python-jose[cryptography]
python-dotenv